/***********************************************************************
** pmwiki.css
**  Copyright 2004-2006 Patrick R. Michaud (pmichaud@pobox.com)
**  Copyright 2006 Hagan Fox
**  This file is part of PmWiki; you can redistribute it and/or modify
**  it under the terms of the GNU General Public License as published
**  by the Free Software Foundation; either version 2 of the License, or
**  (at your option) any later version.  See pmwiki.php for full details.
***********************************************************************/

@font-face {
	font-family: Gothical;
	src: url('/pmwiki/pub/skins/assirian/fonts/Gothical.ttf');
}

@font-face {
	font-family: soulstalker;
	src: url('/pmwiki/pub/skins/assirian/fonts/dirt2soulstalker.otf');
}

@font-face {
	font-family: boert;
	src: url('/pmwiki/pub/skins/assirian/fonts/boert.ttf');
}

@font-face {
	font-family: CloisterBlack;
	src: url('/pmwiki/pub/skins/assirian/fonts/CloisterBlack.ttf');
}

/* This sets the overall frame for the site 
 * margin:0px; background-color:#f7f7f7;
 * */
body {
  margin:0px; background-color:#f4eed9;  
  font-family:Verdana,Arial,sans-serif; font-size:10pt;
}

p  {
  margin:0px; 
  font-family:Verdana,sans-serif; font-size:10pt;
}

p.li  {
  font-family:Verdana,sans-serif; font-size:10pt;
}

ul  {
  font-family:Verdana,sans-serif; font-size:10pt;
}

ul.li  {
  font-family:Verdana,sans-serif; font-size:10pt;
}

a { 
   text-decoration:none; 
   color:rgba(0, 0, 220, 0.99);  
}

a:hover { 
   text-decoration:underline; 
}

td  {
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 5px;
  padding-right : 5px;
}


/* These control the fixed-width text elements of the page */
textarea, pre, code { font-size:0.9em; }
pre, code { font-family:'Lucida Console','Andale Mono','Courier New',Courier; }
pre { line-height:1.2em; }
pre code, code code, pre pre { font-size:100%; }

/* These primarily adjust the size and spacing of heading elements,
** most browsers have atrocious defaults for these. */
h1, h2, h3, h4, h5, h6 { margin-top:1.0em; margin-bottom:0.6em; }
h1, h2, h3, h6 { font-weight:normal; }
h4, h5 { font-weight:bold; }
h1 code, h2 code, h3 code, h4 code { font-size:1em; }
h1 { font-size:1.8em; }
h2 { font-size:1.44em;}
h3 { font-size:1.22em; }
h4 { font-size:1.07em; }
h5 { font-size:1.0em; }
h6 { font-size:1.0em; }

/* The #wikilogo element is the logo from $PageLogoFmt 
 * #wikilogo { margin-top:4px; padding:6px; border-bottom:2px #cccccc solid; }
 * */
#wikilogo { 
   padding:4px 0px 5px 80px; 
   margin-top:4px; 
   border-bottom:1px #C0AA90 solid; 
   float:center;
}

/* This controls the rest of the heading (primarily the search box) 
  position:absolute; right:10px; top:10px; 
 * */
#wikihead { 
   height:80px; 
   padding:0px 0px 0px 80px; 
   font-family: 'soulstalker',serif;
   font-size: 65px;
   text-align: left;
   letter-spacing: 1.2pt;
   border-bottom:0px #C0AA90 solid;
   background-color:rgba(70, 20, 0, 1);
   background-image: url("/pmwiki/pub/skins/assirian/images/scroll-banner-with-bg-light.jpg");   
   background-repeat: no-repeat;   
}
#wikihead a { 
   text-decoration:none; 
   color:rgba(0, 0, 0, 1);  
}
#wikihead a:hover { 
   text-decoration:none; 
   color:rgba(0, 0, 0, 1);  
}

/* These are for the left-sidebar. 
   background-repeat: no-repeat;
   * size = width + padding = 262px
 * */
#wikileft { 
   width:250px; 
   padding:10px 0px 0px 8px; 
   border-right:0px #C0AA90 solid; 
   line-height:1.29em;
   font-size:9.4pt; font-family:Verdana,sans-serif;
   background-image: url("/pmwiki/pub/skins/assirian/images/scroll_left-258x2575-with-bg-light.jpg");
   background-repeat: repeat;
}
#wikileft .vspace { 
   margin-top:1.125em; 
}
#wikileft a { 
   text-decoration:none; color:black; 
   padding: 1px 6px 1px 6px;
   
   -webkit-transition: all .1s ease;
   -moz-transition: all .1s ease;
   -o-transition: all .1s ease;
   transition: all .1s ease;
}
#wikileft a:hover { 
   /* 
    * text-decoration:underline; 
    *  color:blue; 
    * 
    * marron parchemin
    * rgba(222, 185, 96, 1.0);
    */
   color : rgba(255, 255, 150, 1.0);
   color : rgba(0, 0, 150, 0.9);
   background : rgba(140, 60, 0, 0.8);
   background : rgba(180, 120, 0, 0.3);
   border-radius: 6px;   
}
#wikileft ul { 
   list-style:disc; 
   margin:2px 0px 2px 0px;
   padding-left: 20px
}
#wikileft li { 
   margin:0px; 
   padding: 1px 0px 1px 0px;
}
/* The "#wikileft h1" and "#wikileft h5" settings are for
** backwards compatibility with previous releases of PmWiki.
** They are deprecated (replaced with the .sidehead class),
** and may be removed in a future release. */
#wikileft h1, #wikileft h5, .sidehead {
   margin:0px; padding:4px 2px 2px 2px;
   font-size:11pt; font-weight:bold; font-style:normal; 
}
#wikileft h1 a, #wikileft h5 a, .sidehead a   { 
   color:#505050; font-weight:bold; font-style:normal; 
}

/* 
 * These affect the main content area. 
  background-image: url("/pmwiki/pub/skins/assirian/scroll_large_2.jpg");   
 */
#wikibody { 
  padding:0px 0px 0px 0px; 
  background-color:#f4eed9; 
  font-family:Verdana,sans-serif;
  font-size:10pt; 
  background-image: url("/pmwiki/pub/skins/assirian/images/scroll-main-1650x3800-with-bg-light.jpg");   
  background-repeat: repeat;
}
#wikibody a { 
   text-decoration:none; 
   color:purple; 
}
#wikibody a:hover { 
   text-decoration:underline; 
   color:blue; 
}

#wikitext { 
   margin:10px 10px 5px 20px; 
   line-height:1.33em; 
}
#wikitext h2 { 
   font-weight:bold;
}
#wikitext a { 
   text-decoration:none; 
   color:rgba(110, 0, 0, 0.9);  
   
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   transition: all .2s ease;
}
#wikitext a:hover { 
   /* marron parchemin -> rgba(222, 185, 96, 1.0);    */
   text-decoration:none;
   color : rgba(255, 255, 150, 1.0);
   color:rgba(160, 0, 0, 0.99);
   background : rgba(140, 60, 0, 0.8);
   background : rgba(180, 120, 0, 0.3);
   border-radius: 3px;
}
/* For MSIE 5.5 
#wikitext table { 
   font-size:100%; line-height:1.33em; } 
 * */

#wikicmds { 
  float:right; white-space:nowrap; 
  font-family:Verdana,sans-serif; font-size:80%; 
}
#wikicmds ul { list-style:none; margin:0px; padding:0px; }
#wikicmds li { display:inline; margin:0px 5px; }
#wikicmds li a {
   text-decoration:none; color:black; border:none; 
}
#wikicmds li a.createlink { display:none; }
#wikicmds li a:hover { text-decoration:underline; color:blue; }
.pagegroup { margin-top:0px; margin-bottom:0px; font-size:0em}
.pagetitle { line-height:1em; margin:0px; font-size:0em; font-weight:normal; }
.wikiaction { margin-top:4px; margin-bottom:4px; }

/* These are for the edit form. */
#wikiedit form { margin:0px; width:100%; }
#wikiedit textarea { width:100%; }
.wikimessage { margin-top:4px; margin-bottom:4px; font-style:italic; }

/* These affect the lines at the very bottom. */
#wikifoot { 
  padding-left:270px; padding-bottom:4px; padding-top:2px; border-top:1px #C0AA90 solid;
  font-family:Verdana,sans-serif; font-size:100%; 
}

/* These affect the printed appearance of the web view (not the separate
** print view) of pages.  The sidebar and action links aren't printed. */
@media print {
  body { width:auto; margin:0px; padding:0.5em; }
  #wikihead, #wikileft, #wikicmds, .footnav { display:none; }
  #wikifoot { padding:2px; }
}


table.carac td.col1 { background-color:#ffffff; width:130px }
table.carac td.col2 { background-color:#ffffff; width:25px }
table.carac td.col3 { background-color:#ffffff; width:130px }
table.carac td.col4 { background-color:#ffffff; width:25px }

table.fight td.col1 { background-color:#ffffff; width:130px }
table.fight td.col2 { background-color:#ffffff; width:25px }
table.fight td.col3 { background-color:#ffffff; width:45px }
table.fight td.col4 { background-color:#ffffff; width:130px }
table.fight td.col5 { background-color:#ffffff; width:25px }


table.comp td.col1 { background-color:#ffffff; width:200px }
table.comp td.col2 { background-color:#ffffff; width:30px }

table.column td.col1 { background-color:#ffffdd; width:200px }
table.column td.col2 { background-color:#ffffdd; width:30px }
table.column td.col3 { background-color:#E2EEFC; width:200px}
table.column td.col4 { background-color:#E2EEFC; width:30px }
table.column td.col5 { background-color:#ddffdd; width:200px}
table.column td.col6 { background-color:#ddffdd; width:30px }

table.zebra4 tr.ind1 { background-color:#ffffdd; }
table.zebra4 tr.ind2 { background-color:#ffffdd; }
table.zebra4 tr.ind3 { background-color:#ddffdd; }
table.zebra4 tr.ind4 { background-color:#ffdddd; }

